<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Activation link{% endblock %}</title>
    </head>
    <body>
        You have registered an account on interlife service.
        To activate your account please follow to link {{ link }}
        {% block body %}{% endblock %}
    </body>
</html>
